---
import Layout from "../layouts/Layout.astro";
import HistoriaItem from "../components/HistoriaItem.astro";
const EXPERIENCIE = [
    {
        date: "Enero-22-2023",
        title: "LA ENTRADA",
        company: "SERVICIO NACIONAL DE APRENDIZAJE",
        description:
            "La entrada al Servicio Nacional de Aprendizaje es un umbral hacia el conocimiento y la transformación. Al cruzar sus puertas, te sumerges en un ambiente vibrante de aprendizaje y oportunidades. El bullicio de estudiantes y profesores crea un ambiente de energía y dedicación. Los pasillos están impregnados de un sentido de propósito y aspiración, donde cada paso te acerca más a tus metas educativas y profesionales. Los murales y carteles inspiradores adornan las paredes, recordándote el poder del conocimiento y la dedicación. Es un lugar donde las mentes curiosas y los corazones ambiciosos se encuentran para construir un futuro brillante.",
        link: "https://twitch.tv/midudev",
    },
    {
        date: "Enero-22-2023",
        title: "SOMOS OFERTA CERRADA",
        company: "PRICEWATERHOUSECOOPERS: PWC",
        description:
            "Declaramos con orgullo que SOMOS OFERTA CERRADA. Esta afirmación simboliza nuestro compromiso con la excelencia, la integridad y la calidad en cada aspecto de nuestro trabajo. En un mundo lleno de desafíos y competencia, destacamos como líderes en nuestra industria al ofrecer soluciones innovadoras y resultados excepcionales. Nuestro equipo dedicado y talentoso sigue siendo la piedra angular de nuestro éxito, y juntos continuaremos superando expectativas y alcanzando nuevos horizontes. ¡Gracias por ser parte de nuestro viaje hacia la excelencia!",
        link: "https://twitch.tv/midudev",
    },
];
---

<Layout
    title="Sobre nosotros Dolceamaro"
    description="La mejor página de tu vida"
>
    <section class="relative border overflow-hidden mt-16 bg-white">
        <div class="mx-auto max-w-7xl">
            <div
                class="relative z-10 bg-white pb-8 sm:pb-16 md:pb-20 lg:w-full lg:max-w-2xl lg:pb-28 xl:pb-32"
            >
                <svg
                    class="absolute inset-y-0 right-0 hidden h-full w-48 translate-x-1/2 transform text-white lg:block"
                    fill="currentColor"
                    viewBox="0 0 100 100"
                    preserveAspectRatio="none"
                    aria-hidden="true"
                >
                    <polygon points="50,0 100,0 50,100 0,100"></polygon>
                </svg>
                <main
                    class="mx-auto max-w-7xl px-4 pt-10 sm:px-6 sm:pt-12 md:pt-16 lg:px-8 lg:pt-20 xl:pt-28 animate-fade-right animate-once animate-ease-linear"
                >
                    <div class="text-center sm:text-left">
                        <h1
                            class="text-center lg:text-left text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl md:text-6xl"
                        >
                            <span class="shine-text block xl:inline"
                                >Nuestra Historia</span
                            >
                        </h1>
                        <p
                            class="mt-3 text-base text-gray-600 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
                        >
                            Porque todos tenemos una historia. <br />
                            <br />
                            Somos una sociedad anónima que surgió de la necesidad
                            que evidenciamos en la sociedad de contar con una marca
                            de ropa que se dedique a comprender y satisfacer los
                            requerimientos y demandas de nuestros valiosos clientes.
                        </p>
                        <p
                            class="mt-3 text-base text-gray-600 sm:mx-auto sm:mt-5 sm:max-w-xl sm:text-lg md:mt-5 md:text-xl lg:mx-0"
                        >
                        </p>

                        <div
                            class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start"
                        >
                            <div class="rounded-md shadow">
                                <button
                                    id="button-scroll-to-lineadetiempo"
                                    class="flex w-full items-center justify-center rounded-md border border-transparent bg-purple-300 px-8 py-3 text-base font-medium text-black hover:bg-purple-800 hover:text-white md:px-10 md:py-4 md:text-lg"
                                >
                                    Saber más...
                                </button>
                                <script src="../scripts/Buttons.js"></script>
                            </div>
                            <div class="mt-3 sm:ml-3 sm:mt-0">
                                <a
                                    href="/Historia"
                                    class="flex w-full items-center justify-center rounded-md border border-transparent bg-purple-800 px-8 py-3 text-base font-medium text-white hover:bg-purple-300 hover:text-black md:px-10 md:py-4 md:text-lg"
                                >
                                    Productos
                                </a>
                            </div>
                            <div class="mt-3 sm:ml-3 sm:mt-0">
                                <a
                                    href="/Historia"
                                    class="flex w-full items-center justify-center rounded-md border border-transparent bg-purple-800 px-8 py-3 text-base font-medium text-white hover:bg-purple-300 hover:text-black md:px-10 md:py-4 md:text-lg"
                                >
                                    Contacto
                                </a>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <div class="bg-purple-100 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img
                class="h-56 w-full object-cover sm:h-72 md:h-96 lg:h-[600px] 2xl:h-[620px] lg:w-full"
                src="/bg-colors-logo.png"
            />
        </div>
    </section>
    <section class="bg-gray-100">
        <div class="text-center sm:text-left">
            <h1
                class="text-purple-800 mx-4 text-left sm:text-center text-2xl pt-10 pb-3 font-extrabold tracking-tight sm:text-5xl md:text-4xl"
            >
                Línea de Tiempo de Operaciones
            </h1>
            <p
                class="mx-4 text-left sm:text-center mt-4 max-w-5xl text-base lg:text-xl text-gray-600 lg:mx-auto pb-5 text-pretty"
            >
                Llevamos en operación <strong class="font-bold text-black">8 meses desde septiembre de 2023 hasta abril de 2024</strong>. En donde los primeros cuatro meses (sep-dic 2023) <strong class="font-bold text-black">fuimos una empresa comercializadora</strong>. Al comenzar nuestro siguiente año de operación implementamos a nuestras actividades la producción, por lo que <strong class="font-bold text-black">actualmente somos una empresa mixta</strong> la cual realizo un presupuesto para los siguientes 8 meses, es decir, hasta diciembre de 2024. Antes de contar sobre las operaciones del Dolceamaro S.A tengamos en cuenta nuestro paso por el SENA (Centrod de Servicios Financieros)
            </p>
            <p
                class="mx-4 text-left sm:text-center mt-4 max-w-5xl text-base lg:text-xl text-gray-600 lg:mx-auto pb-16 text-pretty"
            >
                Antes de contar sobre las operaciones de Dolceamaro S.A tengamos en cuenta nuestro paso por el SENA (Centro de Servicios Financieros)
            </p>
        </div>
        <div class="w-[340px] mx-auto lg:w-[1000px] pb-24">
            <ol id="lineadetiempo" class="lineadetiempo relative">
                {
                    EXPERIENCIE.map((experiencie) => (
                        <li class="">
                            <HistoriaItem {...experiencie} />
                        </li>
                    ))
                }
            </ol>
        </div>
    </section>
</Layout>
