---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout
    title="Dolceamaro S.A - La tienda de moda, en donde tu estilo brilla por ser tu mismo"
    description="Explora nuestra empresa">
    <main>
        <Hero />
    </main>
    <style></style>
</Layout>
