---
import "photoswipe/style.css";
import "../components/styles/Galeria.css";
---

<section class="max-w-8xl mx-auto py-20 px-12">
    <div
        class="grid md:grid-cols-3 lg:mx-auto mx-4 py-20 max-w-6xl gap-4 md:gap-8 px-2"
        id="gallery"
    >
        {
            Array.from({ length: 9 }).map((_, i) => (
                <a
                    class="group rounded-xl hover:scale-105 hover:contrast-[110%] transition-all relative"
                    href={`/gallery/img-${i + 1}.webp`}
                    target="_blank"
                    data-cropped="true"
                    data-pswp-width="700"
                    data-pswp-height="525"
                >
                    <img
                        class="rounded-xl object-cover w-full h-auto"
                        loading="lazy"
                        src={`/gallery/img-${i + 1}-thumb.webp`}
                        alt="Fotografía de la ficha 2692059"
                    />
                    <img
                        class="blur-md opacity-0 group-hover:opacity-100 absolute inset-0 transition contrast-150 -z-10 object-cover"
                        loading="lazy"
                        src={`/gallery/img-${i + 1}-thumb.webp`}
                        alt="Imagen con efecto blur para hacer de sombra de una fotografía de la ficha"
                    />
                </a>
            ))
        }
    </div>

    <script>
        import PhotoSwipeLightbox from "photoswipe/lightbox";
        const lightbox = new PhotoSwipeLightbox({
            gallery: "#gallery",
            children: "a",
            pswpModule: () => import("photoswipe"),
        });
        lightbox.init();
    </script>
</section>
