<div
    class="relative items-center text-center w-full max-w-screen mt-auto mx-auto pt-24 py-5"
>
    <h1 class="text-black text-5xl font-semibold">Nuestro Equipo</h1>
    <p class="text-slate-500 py-2">
        Especializados en diseñar y ejecutar soluciones<br />
        únicas para impulsar el éxito en cada proyecto.
    </p>
</div>
<section>
    <div class="divaccordion relative pb-10">
        <ul class="accordion">
            <li>
                <img src="/s2.avif" />
                <div class="content">
                    <span>
                        <h2>Sebastián Gutiérrez</h2>
                        <p class="py-4">Presidente</p>
                        <a
                            class="bg-purple-800 text-white text-xs lg:text-base px-1 py-1 lg:px-2 lg:py-2 rounded text-center"
                            href="/Historia">Saber más...</a
                        >
                    </span>
                </div>
            </li>
            <li>
                <img src="/copyv1.avif" />
                <div class="content">
                    <span>
                        <h2>Valeria Cruz</h2>
                        <p class="py-4">Directora de marketing y negocios</p>
                        <a
                            class="bg-purple-800 text-white text-xs lg:text-base px-1 py-1 lg:px-2 lg:py-2 rounded text-center"
                            href="/Historia">Saber más...</a
                        >
                    </span>
                </div>
            </li>
            <li>
                <img src="/j1.avif" />
                <div class="content">
                    <span>
                        <h2>Juan Bonilla</h2>
                        <p class="py-4">Director de Producción</p>
                        <a
                            class="bg-purple-800 text-white text-xs lg:text-base px-1 py-1 lg:px-2 lg:py-2 rounded text-center"
                            href="/Historia">Saber más...</a
                        >
                    </span>
                </div>
            </li>
            <li>
                <img src="/vivi2.avif" />
                <div class="content">
                    <span>
                        <h2>Viviana Moreno</h2>
                        <p class="py-4">Directora de Finanzas</p>
                        <a
                            class="bg-purple-800 text-white text-xs lg:text-base px-1 py-1 lg:px-2 lg:py-2 rounded text-center"
                            href="/Historia">Saber más...</a
                        >
                    </span>
                </div>
            </li>
            <li>
                <img src="/js1.avif" />
                <div class="content">
                    <span>
                        <h2>Justin Estevez</h2>
                        <p class="py-4">Director Recursos Humanos</p>
                        <a
                            class="bg-purple-800 text-white text-xs lg:text-base px-1 py-1 lg:px-2 lg:py-2 rounded text-center"
                            href="/Historia">Saber más...</a
                        >
                    </span>
                </div>
            </li>
        </ul>
    </div>
</section>
