---
import Container from "../Container.astro";
import MenuIcon from "../icons/MenuIcon.astro";
import Astronav from "../elementHeader/AstroNav.astro";
import MenuItems from "../elementHeader/MenuItems.astro";
import Dropdown from "../elementHeader/Dropdown.astro";
import Link from "../elementHeader/Link.astro";

const navItems = [
    {
        title: "Historia",
        url: "/Historia",
    },
    {
        title: "Comprar",
        url: "/Productos",
    },
    {
        title: "Sobre Nosotros",
        url: "/Sobre-nosotros",
    },
    {
        title: "Blog",
        url: "#",
        children: [
            { title: "Políticas de Dolcemaro S.A", url: "" },
            { title: "Nuestras Actualizaciones", url: "" },
        ],
    },
    {
        title: "Contacto",
        url: "/contacto",
    },
];
---

<Container>
    <header
        class="fixed top-0 left-0 right-0 z-10 px-2 border bg bg-white py-2 flex flex-col lg:flex-row justify-between"
        id="header-nav"
    >
        <Astronav>
            <div
                class="flex w-full xl:w-auto lg:ml-20 2xl:w-auto 2xl:ml-32 items-center justify-between"
            >
                <a
                    href="/"
                    class="text-lg 2xl:mr-32 flex items-center flex-wrap"
                >
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 80 90"
                        width="60"
                        height="40"
                    >
                        <text
                            x="32"
                            y="52"
                            font-family="Barett Street"
                            font-size="42"
                            fill="black"
                        >
                            D
                        </text>

                        <text
                            x="0"
                            y="98"
                            font-family="Barett Street"
                            font-size="40"
                            fill="black"
                            transform="rotate(180 38 65)"
                        >
                            D
                        </text>
                    </svg>
                    <span class="font-semibold text-black"
                        >Dolce<strong class="text-[#5503af] font-bold"
                            >amaro</strong
                        > S.A</span
                    >
                </a>
                <div class="block xl:hidden">
                    <MenuIcon class="w-4 h-4t text-black" />
                </div>
            </div>
            <MenuItems class="hidden w-full xl:w-auto mt-2 xl:flex xl:mt-0">
                <ul class="flex flex-col lg:flex-row lg:gap-3">
                    {
                        navItems.map((item, index) => (
                            <>
                                {item.children && (
                                    <Dropdown
                                        title={item.title}
                                        children={item.children}
                                        lastItem={index === navItems.length - 1}
                                    />
                                )}
                                {!item.children && (
                                    <li>
                                        <a
                                            href={item.url}
                                            class="flex lg:px-3 py-2 items-center text-black hover:text-[#5503af] hover:font-bold hover:bg-neutral-400/40"
                                        >
                                            <span> {item.title}</span>
                                        </a>
                                    </li>
                                )}
                            </>
                        ))
                    }
                </ul>
                <div class="xl:hidden flex items-center mt-3 gap-4">
                    <Link href="/" style="muted" block size="md">
                        Iniciar Sesión
                    </Link>
                    <Link href="/" size="md" block>Crear Cuenta</Link>
                </div>
            </MenuItems>
        </Astronav>
        <div>
            <div class="hidden xl:flex items-center gap-4">
                <a class="text-black" href="/">Iniciar Sesión</a>
                <Link href="/" size="md">Crear Cuenta</Link>
            </div>
        </div>
    </header>
</Container>
