---
import Header from "../components/elementHeader/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource-variable/onest";

interface Props {
	description: string;
	title: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logofondo.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme:;
	}

	html {
		font-family: "Onest Variable", system-ui, sans-serif;
		background: white;
		overflow-x: hidden; /* Oculta el desbordamiento horizontal */
	}

	#header-nav {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1000;
		padding: 12px;

		backdrop-filter: blur(10px); /* Aplicar desenfoque */
		-webkit-backdrop-filter: blur(
			10px
		); /* Prefijo para navegadores WebKit */
		transition: background-color 0.3s ease; /* Transición suave */
	}

	.shine-text {
		background-image: linear-gradient(
			-250deg,
			#fff 0%,
			#5503af 29%,
			#6f17ce 67%,
			#8f41e2 100%
		);
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 6s linear infinite;
	}
	@keyframes textclip {
		to {
			background-position: -200% center;
		}
	}
	

	@media screen and (max-width: 768px) {
		.shine-text {
			background-image: linear-gradient(
				-250deg,
				#fff 0%,
				#5503af 29%,
				#6f17ce 67%,
				#8f41e2 100%
			);
			background-size: 200% auto;
			color: #fff;
			background-clip: text;
			text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			animation: textclip 6s linear infinite;
		}
	}

	.divaccordion {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.accordion {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 450px;
		gap: 16px;
		transition: 0.3s;
	}

	.accordion:hover {
		gap: 0;
	}

	.accordion h2 {
		font-weight: 400px;
		font-size: 24px;
		line-height: 45px;
		border-bottom: 2px solid #fff;
		white-space: nowrap;
	}

	.accordion li {
		position: relative;
		overflow: hidden;
		flex: 0 0 200px;
		border-radius: 50px;
		opacity: 0.75;
	}

	.accordion li img {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.accordion li,
	.accordion li img,
	.accordion li .content,
	.accordion li .content span {
		transition: 0.3s;
	}

	.accordion li .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		padding: 15px;
		background: #02022e;
		background: linear-gradient(
			0deg,
			rgb(0 0 0 / 70%) 10%,
			rgb(255 255 255 /0%) 100%
		);
		opacity: 0;
		visibility: hidden;
	}

	.accordion li .content span {
		position: absolute;
		z-index: 3;
		left: 50%;
		bottom: 50px;
		translate: -300px 0;
		visibility: hidden;
		opacity: 0;
	}

	.accordion li:hover {
		flex: 0 1 260px;
		scale: 1.1;
		z-index: 10;
		opacity: 1;
	}

	.accordion li:hover .content {
		opacity: 1;
		visibility: visible;
	}

	.accordion li:hover span {
		translate: -50% 0;
		opacity: 1;
		visibility: visible;
	}

	@media screen and (max-width: 1100px) {
		.divaccordion {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.accordion {
			width: 100%;
			display: flex;
			justify-content: center;
			height: 400px;
			gap: 5px;
			transition: 0.3s;
		}

		.accordion:hover {
			gap: 0;
		}

		.accordion h2 {
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			border-bottom: 2px solid #fff;
			white-space: wrap;
		}

		.accordion p {
			font-size: 12px;
			white-space: wrap;
		}

		.accordion a {
			white-space: nowrap;
		}

		.accordion li {
			position: relative;
			overflow: hidden;
			flex: 0 0 150px;
			border-radius: 50px;
			opacity: 0.75;
		}

		.accordion li img {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.accordion li,
		.accordion li img,
		.accordion li .content,
		.accordion li .content span {
			transition: 0.3s;
		}

		.accordion li .content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			color: #fff;
			padding: 15px;
			background: #02022e;
			background: linear-gradient(
				0deg,
				rgb(0 0 0 / 70%) 10%,
				rgb(255 255 255 /0%) 100%
			);
			opacity: 0;
			visibility: hidden;
		}

		.accordion li .content span {
			position: absolute;
			z-index: 3;
			left: 50%;
			bottom: 50px;
			translate: -300px 0;
			visibility: hidden;
			opacity: 0;
		}

		.accordion li:hover {
			flex: 0 1 90px;
			scale: 1.1;
			z-index: 10;
			opacity: 1;
		}

		.accordion li:hover .content {
			opacity: 1;
			visibility: visible;
		}

		.accordion li:hover span {
			translate: -50% 0;
			opacity: 1;
			visibility: visible;
		}
	}

	@media screen and (max-width: 768px) {
		.divaccordion {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
		}

		.accordion {
			width: 100%;
			display: flex;
			justify-content: center;
			height: 400px;
			gap: 5px;
			transition: 0.3s;
		}

		.accordion:hover {
			gap: 0;
		}

		.accordion h2 {
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			border-bottom: 2px solid #fff;
			white-space: wrap;
		}

		.accordion p {
			font-size: 12px;
			white-space: wrap;
		}

		.accordion a {
			white-space: nowrap;
		}

		.accordion li {
			position: relative;
			overflow: hidden;
			flex: 0 0 80px;
			border-radius: 50px;
			opacity: 0.75;
		}

		.accordion li img {
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.accordion li,
		.accordion li img,
		.accordion li .content,
		.accordion li .content span {
			transition: 0.3s;
		}

		.accordion li .content {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			color: #fff;
			padding: 15px;
			background: #02022e;
			background: linear-gradient(
				0deg,
				rgb(0 0 0 / 70%) 10%,
				rgb(255 255 255 /0%) 100%
			);
			opacity: 0;
			visibility: hidden;
		}

		.accordion li .content span {
			position: absolute;
			z-index: 3;
			left: 50%;
			bottom: 50px;
			translate: -300px 0;
			visibility: hidden;
			opacity: 0;
		}

		.accordion li:hover {
			flex: 0 1 90px;
			scale: 1.1;
			z-index: 10;
			opacity: 1;
		}

		.accordion li:hover .content {
			opacity: 1;
			visibility: visible;
		}

		.accordion li:hover span {
			translate: -50% 0;
			opacity: 1;
			visibility: visible;
		}
	}

	@media screen and (min-width: 500px) {
		.marquee_content {
			animation: scrolling 28s linear infinite;
		}
	}

	@keyframes scrolling {
		0% {
			transform: translateX(0);
		}
		100% {
			transform: translateX(-100%);
		}
	}
</style>
